.homepage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    color: white;
    font-family: "Poppins", sans-serif;
    padding: 20px;
    box-sizing: border-box;
}

.homepage-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.homepage-text {
    max-width: 50%;
    margin-left: 50px;
}

.homepage-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.homepage-text h4 {
    font-size: 1rem;
    color: rgb(219, 219, 219);
    font-family: 'Roboto', sans-serif;

}

.btn-get-started {
    padding: 10px 100px;
    background: linear-gradient(5deg, #6a11cb 0%, #2575fc 100%);
    border: 1px solid #487ff8;
    border-radius: 20px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 2rem;
    overflow: hidden;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.btn-icon {
    position: absolute;
    left: -30px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    font-size: 2rem;
    color: white;
    bottom: 5px;
}

.btn-get-started:hover .btn-icon {
    left: 10px;
    opacity: 1;
}

.btn-get-started:hover {
    background: linear-gradient(105deg, #6a11cb 0%, #2575fc 100%);

}

.homepage-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: contain;
    max-height: 400px;
    animation: float 3s ease-in-out infinite;

}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@media (max-width: 1024px) {
    .btn-icon {
        display: none !important;
        ;
    }

    .homepage-content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .homepage-text {
        max-width: 90%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .homepage-text h1 {
        font-size: 2rem;
        text-align: center;
    }

    .homepage-text h4 {
        font-size: 0.9rem;
        width: 90%;
        text-align: center;
    }

    .btn-get-started {
        padding: 10px 80px;
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .homepage-text {
        margin: 0 10px;
        max-width: 90%;
    }

    .homepage-text h1 {
        font-size: 1.8rem;
    }

    .homepage-text h4 {
        font-size: 0.9rem;
    }

    .btn-get-started {
        padding: 10px 70px;
    }

    .homepage-image img {
        max-height: 250px;
    }
}

@media (max-width: 480px) {
    .homepage-text h1 {
        font-size: 1.5rem;
    }

    .homepage-text h4 {
        font-size: 0.8rem;
    }

    .btn-get-started {
        padding: 8px 50px;
        font-size: 0.8rem;
    }

    .homepage-image img {
        max-height: 200px;
    }
}